* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}



.attribution {
    font-size: #{"clamp(0.813rem, 0.7295rem + 0.3561vw, 1.05rem)"};
    text-align: center;
    align-items: center;
    position: absolute;
}

