.attribution {
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    a {
        color: hsl(228, 45%, 44%); 
    }
}

:root{
    --dark-blue: hsl(240, 38%, 20%);
    --grayish-blue: hsl(240, 18%, 77%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('./images/pattern-curve.svg') bottom left no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.text{
    z-index: 10;
    margin-right: -8rem;
    position: relative;
    .quotes{
        position: absolute;
        top: -65px;
        left: 100px;
    }
    .description{
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 300;
        margin-bottom: 2rem;
        max-width: 630px;
        min-width: 310px;
        width: 100%;
    }
    h3{
        display: inline-block;
        color: var(--grayish-blue);
        font-weight: 500;
        .name{
            color: var(--dark-blue);
            font-weight: 700;
        }
    }

}

.picture{
    position: relative;
    background: url('./images/pattern-bg.svg') center center/ contain no-repeat;
    padding: 4.4rem;
    .person{
        box-shadow: -5px 15px 30px -10px rgba(0, 0, 0, 0.322);
        display: block;
        border-radius: 8px;
        max-width: 100%;
        min-width: 256px;
        height: auto;
        z-index: 10;
    }
    .switch{
        background: white;
        position: absolute;
        bottom: 7%;
        left: 22%;
        border-radius: 25px;
        &--btn{
            background: none;
            border: none;
            padding: 1rem;
            cursor: pointer;
            &:first-child{
                margin-right: .5rem;
            }
            &:hover{
                background: var(--dark-blue);
            }
            &-prev{
                border-radius: 25px 0 0 25px;
            }
            &-next{
                border-radius: 0 25px 25px 0;
            }
        }
    }
   
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-to {
opacity: 0
}

.slide-fade-enter-active {
transition: all .3s ease;
}
.slide-fade-leave-active {
transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
transform: translateX(20px);
opacity: 0;
}

@media screen and (max-width: 900px){

    body{
        background-size: calc(100% - 50vw);
        overflow: hidden;
    }

    .testimonial{
        flex-direction: column-reverse;
        justify-content: start;
        align-self: flex-start;
        margin: 0;
        min-width: 400px;
    }

    .text{
        margin-right: 0;
        padding: 0 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .quotes{
            top: -40px;
            left: unset;
            width: 80px;
        }
        .description{
            text-align: center;
            font-size: 1.1rem;
            color: var(--dark-blue);
        }
        h3{
            font-size: 1.1rem;
            text-align: center;
            margin: auto;
            .name{
                display: block;
            }
        }
    }

    .picture{
        margin-bottom: 2rem;
        padding: 2.4rem;
        .switch{
            left: 50%;
            bottom: 3%;
            transform: translateX(-50%);
            height: 40px;
            display: flex;
            align-items: center;
            &--btn{
                padding: 0.7rem;
                &:first-child{
                    margin-right: .5rem;
                }
            }
        }
    }
}