//*****************************************
// Variables
$cl-dgb:hsl(217, 19%, 35%);
$cl-ddb: hsl(214, 17%, 51%);
$cl-gb: rgb(158, 175, 194);
$cl-lgb: hsl(210, 46%, 95%);
//*****************************************

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "Manrope", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background:$cl-lgb;
    overflow: hidden;
}

.card{
   background: white;
   display: flex;
   border-radius: 8px;
   margin: 20px;
   .img {
       max-width: 20rem;
       display: flex;
       margin: 0;
       overflow: hidden;
        img{
            max-width: 100%;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
        }
       
   }
   .section{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        max-width: 30rem;
        h2{
            margin-bottom: 1rem;
            color: $cl-dgb;
        }
        p{
            font-size: .8rem;
            color: $cl-ddb;
            font-weight: 500;
        }
   }
   &_footer{
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-top: 1rem;
       .person{
           display: flex;
           align-items: center;
           flex-wrap: wrap;
           justify-content: center;
           img{
               width: 40px;
               height: 40px;
               border-radius: 50%;
           }
           div{
               margin-left: 1rem;
               span{
                   font-weight: 700;
                   color: $cl-dgb;
               }
           }
       }
    }
    .share{
        position: relative;
        button{
            background: $cl-lgb;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            z-index: 15;
        }

    }

}

.component{
    background: $cl-dgb;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -200%;
    left: -230%;
    opacity: 0;
    img{
        margin-left: 1rem;
    }
    .path{
        position: absolute;
        bottom: -25%;
        left: 50%;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
        background: $cl-dgb;
        width: 25px;
        height: 14px;
    }
    span{
        color: $cl-gb;
    }
}

@media screen and (max-width: 850px){
    .card{
        flex-wrap: wrap;
        justify-content: center;
        margin: 40px 20px;
        position: relative;
        .img{
            max-width: none;
            
            display: flex;
            justify-content: center;
            img{
                border-top-right-radius: 8px;
                border-bottom-left-radius: 0px;
                width: 100%;
            }
        }
        .section{
            max-width: none;
            h2{
                font-size: 1.05rem;
            }
            p{
                line-height: 1.5;
            }
        }
        .share{
            position: static;
            margin-top: 60px;
            .share-cta{
                position: absolute;
                right: 40px;
                bottom: 30px;
            }
        }
      
    }
    
    .component{
        position: absolute;
        width: 100%;
        background:$cl-dgb;
        top: unset;
        left: 0;
        bottom: 0;
        z-index: 5;
        justify-content: start;
        padding: 2rem 0 2rem 2.2rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        .path{
            display: none;
        }
    }
}
